<div class="container" style="max-width:330px; margin:0 auto;">
	<form role="form">
		<div class="alert" ng-class="message.className" ng-show="message">{{ message.text }}</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
		</div>
		<button type="submit" class="btn btn-default" ng-click="login()">Login</button>

		<div class="btn-group">
			<button type="submit" class="btn btn-primary" ng-click="loginWithOAuth()">Sign In</button>
			<a class="btn btn-primary dropdown-toggle">
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="provider in loginWith">
					<a href="{{provider.url}}">{{provider.name}}</a>
				</li>
			</ul>
		</div>
	</form>
</div>
